*{
    font-family: monospace;

}

body {
    background-color: rgb(199, 199, 199);
    padding: 10px 20px;
}

h1 {
    top: 0;
    font-size: 55px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.gallery-container {
    border: 2px solid rgb(26, 26, 26,0.2);
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(350px,1fr));
    grid-auto-rows: 250px;
    background: rgb(231, 231, 231);
    grid-gap: 12px;
    padding: 12px;
    grid-auto-flow: dense;
}

.gallery__item {
    position: relative;
}

.gallery__title {
    visibility: hidden;
    font-size: 30px;
    position: absolute;
    color: rgb(235, 235, 235);
    bottom: 0;
    background: linear-gradient(rgb(110, 110, 110,0.6),rgb(10, 10, 10,0.3));
    width: 100%;
    padding: 3px
}

.gallery__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


@media (max-width: 560px) {

    h1{
        font-size: 30px;
    }

    body {

        padding: 0px;
        
    }

    .gallery-container {
        padding: 5px;
        grid-template-columns:  repeat(2, minmax(125px,1fr));
        grid-auto-rows: 100px;
        grid-gap: 5px;
    }

    .hight {
        grid-row: span 2;
    }
        
    .width {
        grid-column: span 2;
    }
        
}


@media (min-width: 560px) {

    h1{
        font-size: 45px;
    }
    
    .gallery-container {
        grid-template-columns:  repeat(auto-fill, minmax(250px,1fr));
        grid-auto-rows: 175px;
    }

    .hight {
        grid-row: span 2;
    }
        
    .width {
        grid-column: span 2;
    }
    .hight-width{
        grid-row: span 2;
        grid-column: span 2;
    }

    .gallery__item:hover {
        transition: 0.4s;
        transform: scale(1.02);
        font-size: 5px;
        box-shadow: 1px 0px 10px black;
    }
    
}


@media (min-width: 768px) {

    h1{
        font-size: 50px;
    }

    .gallery-container {
        grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
        grid-auto-rows: 200px;
    }

    .gallery__item:hover {
        transition: 0.4s;
        transform: scale(1.02);
        font-size: 5px;
        box-shadow: 1px 0px 10px black;
    }
}


@media (min-width: 1024px) {

    h1{
        font-size: 60px;
    }

    .gallery-container {
        grid-template-columns:  repeat(auto-fill, minmax(400px,1fr));
        grid-auto-rows: 250px;
    }
    .gallery__item:hover {
        transition: 0.4s;
        transform: scale(1.02);
        font-size: 5px;
        box-shadow: 1px 0px 10px black;
    }
}




























